*{
  margin: 0;
  padding: 0;
  }

body{
  font-family: 'Baloo Bhaina 2', cursive;
  background-color: #1E1E1D;
  color: white;
}

.container{
  width: 60%;
  margin: auto;
}

.container_historia {
  width: 50%;
  margin:auto;
  }

.mi_nombre {
  margin: auto;
  font-size: 1.9em;
  padding: 10px;
  width: 90%;
  text-align: center;
  }

.mi_profesion {
  margin:auto;
  font-size: 1.7em;
  padding: 10px;
  margin-bottom: 30px;
  width: 90%;
  text-align: center;
}

img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.barra_nav {
  width: 90%;
  margin: auto;
  text-align: center;
}


.barra_nav li {
  font-size: 1.3em;
  display: inline-block;
  list-style: none;
  margin: 35px;
  padding: 5px;
}

a{
  text-decoration: none;
  color: #F3F3F3;
  text-transform: capitalize;
  }

  a:hover {
    color: #403905;
  }

  .container_desc {
    width: 90%;
    margin: auto;
  }

  .desc_principal {
    margin: auto;
    text-align: center;
    font-size: 1.3em;
    padding: 5px;
    margin: 10px;
  }

  .tit_hist {
    font-size: 1.7em;
    text-align: center;
    padding: 15px;
    padding-top: 30px;
    padding-bottom: 45px;
    margin:auto;
    text-transform: uppercase;
  } 

  .tit_cv {
    font-size: 1.5em;
    margin: auto;
    text-transform: capitalize;
    padding: 3px;
    margin-top: 7px;
    margin-bottom: 7px;
  }

  .desc_cv {
    font-size: 1.3em;
    margin:auto;
    padding: 2px;
    margin-bottom: 7px;
  }

  h2 {
    font-size: 1.7em;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  
  footer{
    width: 90%;
    margin: auto;
   
  }
  
  .social_menu{
    width: 90%;
    margin: auto;
    text-align: center;
    
  }

  .center{
    text-align: center;
    display: inline-block;
  }

  .icono{
    
    width: 30px;
    height: 30px;
    padding: 10px;
 
  }